*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html, body, .opening-section {
    margin: 0;
    padding: 0;
    background-color: black;
}

#title{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 500px;
}

#setup{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 500px;
}

#start-button{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    cursor: pointer;
    max-width: 350px;
}

#start-button-two{
    position: relative;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
    cursor: pointer;
    max-width: 350px;
    margin-top: 5px;
}

#start-button:hover, #start-button-two:hover{
    background-color: black;
}

.audio{
    height: 15px;
    margin-top: 21px;
    margin-left: 10px;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

#sound{
    color: red;
  }  

.opening-section{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('images/opening.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.play-music{
    cursor: pointer;
    position: absolute;
    color: red;
    padding: none;
    display: flex;
    flex-direction: row;
  }

  #volume-icon{margin-top: 20px;}

  .utility-buttons{
    margin-top: 10px;
  }

.audio-controls{
    position: absolute;
    left: 50px;
}

#mute-button,#next-button{
    text-decoration: none;
    margin-bottom: 5px;
    background-color: transparent;
    padding: none;
    cursor: pointer;
}

#mute{
    max-width: 75px;
    margin-top: 5px;
}

#play{
    max-width: 70px;
    margin-top: 5px;
}

#skip{
    max-width: 140px;
    margin-top: 5px;
}

  #next-button{
    margin-left: 5px;
  }

  .homepage{
    position: absolute;
    right: 50px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    background-color: transparent;
    padding: none;
    font-size: large;
  }

  #homepageImg{
    max-width: 150px;
    margin-top: 5px;
  }

  .setup-section{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('images/setup.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }

  .circle-container{
    display: none;
    position: absolute;
    bottom: 0;
  }

.arrow-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: red;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.up {
    top: 10px;
}

.down {
    bottom: 10px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

#shoot{
    left: 200px;
}

.selections{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#select-location{
    max-width: 500px;   
    max-height: 50px; 
}
#select-ship{
    max-width: 400px;
    max-height: 50px;    
}

.locationImages{
    display: flex;
    flex-direction: row;
}

.locationOneImg,.locationTwoImg,.locationThreeImg{
    width: 200px;
    height: 170px;
    cursor: pointer;
}

.spaceshipOneImg,.spaceshipTwoImg,.spaceshipThreeImg{
    max-width: 100px;
    height: 150px;
    cursor: pointer;
}

.shipImages{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
}

.location-checkbox,
.ship-checkbox {
    display: none;
}

.checkmark {
    width: 20px; 
    height: 20px; 
    background-color: lightgreen;
    top: 0;
    left: 0;
    display: none;
}

/* Show the checkmark when the checkbox is checked */
.location-checkbox:checked + .locationOneImg + .checkmark,
.location-checkbox:checked + .locationTwoImg + .checkmark,
.location-checkbox:checked + .locationThreeImg + .checkmark,
.ship-checkbox:checked + .spaceshipOneImg + .checkmark,
.ship-checkbox:checked + .spaceshipTwoImg + .checkmark,
.ship-checkbox:checked + .spaceshipThreeImg + .checkmark {
    display: block;
}

.score{
    position: absolute;
    bottom: 15px;
    left: 20px;
}

#score{
    max-width: 150px;
    margin-right: 5px;
}

#score-value{
    color: red;
    font-size: 50px;
    font-weight: bold;
}

@media(max-width: 1285px){
.circle-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    left: 50%;
    transform: translate(-50%);  
}
}

@media(max-width: 1205px){
    .selections{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #setup{
        display: none;
    }
}

@media(max-width:610px){
    #select-location{
        max-width: 300px;
    }
    #select-ship{
        max-width: 250px;
    }
    .locationOneImg,.locationTwoImg,.locationThreeImg{
        width: 150px;
        height: 120px;
    }
    .spaceshipOneImg,.spaceshipTwoImg,.spaceshipThreeImg{
        max-width: 70px;
        height: 100px;
    }
    #start-button-two{
    bottom: 0;
    }
  }

  @media(max-width:600px){
    #score{
        max-width: 100px;
    }
    #score-value{
        font-size: 30px;
    }
  }


@media(max-width:520px){
    .audio-controls{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
    }
    #next-button{
        margin-left: 0px;
    }
  }

  @media(max-width:506px){
    .audio  {
      display: none;
  }
  #volume-icon{
    font-size: 50px;
    color: red;
    margin-left: 10px;
  }
  }

@media(max-width:500px){
    #title,#setup{
        max-width: 350px;
    }
    #start-button,#start-button-two{
        max-width: 250px;
    }
    .audio-controls{
        left: 20px
    }
    .homepage{
        right: 20px;
    }
}


@media(max-width:450px){
    #volume-icon{
      font-size: 45px;
    }
    .locationImages{
        flex-wrap: wrap;
    }

    }

@media(max-width:400px){
    #title,#setup{
        max-width: 300px;
    }
    #start-button,#start-button-two{
        max-width: 250px;
    }
    .score{
        bottom: 50%;
        transform: translate(0,50%);
    }
}

@media(max-width:365px){
    .utility-buttons{
        display: flex;
        flex-direction: column;
    }
    .homepage{
        position: absolute;
        left: 20px;
        top: 85px;
        max-width: 160px;
    }
  }

@media(max-width:330px){
    #volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
  #title,#setup{
    max-width: 250px;
}
#start-button,#start-button-two{
    max-width: 200px;
}
#volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
}

@media(max-width:300px){
    .audio-controls,.homepage{
        left: 5px;
    }
    .selections{
        left: 0;
        transform: translate(0);
      }
      .score{
        left: 5px;
    }
}

@media(max-width:280px){
    #title,#setup{
        max-width: 230px;
    }
    #start-button,#start-button-two{
        max-width: 200px;
    }
    .locationOneImg,.locationTwoImg,.locationThreeImg{
        width: 130px;
        height: 100px;
    }
    #select-location{
        width: 270px;
    }
}
    
    