@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&');

*{
    font-family: poppins;
}

html, body, .opening-section {
    margin: 0;
    padding: 0;
    background-color: black;
}

#title{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 500px;
}

#start-button{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    cursor: pointer;
}

#start-button:hover{
    background-color: black;
}

.audio{
    height: 15px;
    margin-top: 21px;
    margin-left: 10px;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

#sound{
    color: red;
  }  

.opening-section{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('images/opening.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.play-music{
    cursor: pointer;
    position: absolute;
    color: red;
    padding: none;
    display: flex;
    flex-direction: row;
  }

  #volume-icon{margin-top: 20px;}

  .utility-buttons{
    margin-top: 10px;
  }

.audio-controls{
    position: absolute;
    left: 50px;
}

#mute-button,#next-button{
    text-decoration: none;
    margin-bottom: 5px;
    background-color: transparent;
    padding: none;
    cursor: pointer;
}

#mute{
    max-width: 75px;
    margin-top: 5px;
}

#play{
    max-width: 70px;
    margin-top: 5px;
}

#skip{
    max-width: 140px;
    margin-top: 5px;
}

  #next-button{
    margin-left: 5px;
  }

  .homepage{
    position: absolute;
    right: 50px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    background-color: transparent;
    padding: none;
    font-size: large;
  }

  #homepageImg{
    max-width: 150px;
    margin-top: 5px;
  }

  .circle-container{
    display: none;
  }

.arrow-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: red;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.up {
    top: 10px;
}

.down {
    bottom: 10px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

@media(max-width:520px){
    .audio-controls{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
    }
    #next-button{
        margin-left: 0px;
    }
    .circle-container {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0%;
        margin-top: -15px;
        left: 50%;
        transform: translate(-50%);  
    }
  }

  @media(max-width:506px){
    .audio  {
      display: none;
  }
  #volume-icon{
    font-size: 50px;
    color: red;
    margin-left: 10px;
  }
  }

@media(max-width:500px){
    #title{
        max-width: 350px;
    }
    #start-button{
        max-width: 300px;
    }
    .audio-controls{
        left: 20px
    }
    .homepage{
        right: 20px;
    }
}


@media(max-width:450px){
    #volume-icon{
      font-size: 45px;
    }
    }

@media(max-width:400px){
    #title{
        max-width: 300px;
    }
    #start-button{
        max-width: 250px;
    }
}

@media(max-width:365px){
    .utility-buttons{
        display: flex;
        flex-direction: column;
    }
    .homepage{
        position: absolute;
        left: 20px;
        top: 85px;
        max-width: 160px;
    }
  }

@media(max-width:330px){
    #volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
  #title{
    max-width: 250px;
}
#start-button{
    max-width: 200px;
}
#volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
}

@media(max-width:300px){
    .audio-controls,.homepage{
        left: 5px;
    }
}

@media(max-width:280px){
    #title{
        max-width: 230px;
    }
    #start-button{
        max-width: 200px;
    }
}
    
    