*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

html, body, .opening-section,.end-game {
    margin: 0;
    padding: 0;
    background-color: black;
}

#title,#GameOver{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 500px;
}

#setup,#instruction-title{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 500px;
}

#start-button{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    cursor: pointer;
    max-width: 350px;
}

#restart{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    cursor: pointer;
    max-width: 250px;
    border: 2px solid;
    border-color: grey black black grey;
}

#start-button-two{
    position: relative;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
    cursor: pointer;
    max-width: 350px;
    margin-top: 5px;
}

#start-button:hover, #start-button-two:hover{
    background-color: black;
}

.audio{
    height: 15px;
    margin-top: 21px;
    margin-left: 10px;
}

.instruction{
    cursor: pointer;
    position: absolute;
    padding: none;
    display: flex;
    flex-direction: row;
    top: 21px;
    right: 10px;
}

#instructions{
    height: 15px;
}

.instruction-text{
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#canvas {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top left;
}


.opening-section{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('images/opening.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.play-music{
    cursor: pointer;
    position: absolute;
    padding: none;
    display: flex;
    flex-direction: row;
  }

  #volume-icon{margin-top: 20px;}

  .utility-buttons {
    position: absolute;
    z-index: 999; 
    top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10px;
}

#mute-button,#next-button,.homepage{
    text-decoration: none;
    margin-bottom: 5px;
    background-color: transparent;
    padding: none;
    cursor: pointer;
}

#mute{
    max-width: 75px;
    margin-top: 5px;
}

#play{
    max-width: 70px;
    margin-top: 5px;
}

#skip{
    max-width: 140px;
    margin-top: 5px;
}

  .back{
    position: absolute;
    right: 50px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    background-color: transparent;
    padding: none;
    font-size: large;
  }

  .settings{
    position: absolute;
    color: white;
    background-color: transparent;
    right: 50px;
    bottom: 5px;
    cursor: pointer;
  }

  #settings{
    max-width: 150px;
  }

  .back{
    margin-top: 21px;
  }

  #homepageImg{
    max-width: 150px;
    margin-top: 5px;
  }

  #back{
    max-width: 100px;
    margin-top: 5px;
  }

  .setup-section{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('images/setup.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }

  .circle-container{
    display: none;
    position: absolute;
    bottom: 0;
  }

.arrow-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.up {
    top: 10px;
}

.down {
    bottom: 10px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

#shoot{
    left: 200px;
}

.selections{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#select-location{
    max-width: 500px;   
    max-height: 50px; 
}
#select-ship{
    max-width: 400px;
    max-height: 50px;    
}

.locationImages{
    display: flex;
    flex-direction: row;
}

.locationOneImg,.locationTwoImg,.locationThreeImg{
    width: 200px;
    height: 170px;
    cursor: pointer;
}

.spaceshipOneImg,.spaceshipTwoImg,.spaceshipThreeImg{
    max-width: 100px;
    height: 150px;
    cursor: pointer;
}

.shipImages{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
}

.location-checkbox,
.ship-checkbox {
    display: none;
}

.checkmark {
    width: 20px; 
    height: 20px; 
    background-color: lightgreen;
    top: 0;
    left: 0;
    display: none;
}

/* Show the checkmark when the checkbox is checked */
.location-checkbox:checked + .locationOneImg + .checkmark,
.location-checkbox:checked + .locationTwoImg + .checkmark,
.location-checkbox:checked + .locationThreeImg + .checkmark,
.ship-checkbox:checked + .spaceshipOneImg + .checkmark,
.ship-checkbox:checked + .spaceshipTwoImg + .checkmark,
.ship-checkbox:checked + .spaceshipThreeImg + .checkmark {
    display: block;
}

.score{
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 5;
}

#score{
    max-width: 150px;
    margin-right: 5px;
}

#score-value{
    font-size: 50px;
    font-weight: bold;
}

.end-game {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; /* Fill the entire viewport */
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('images/EndGame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
}

@media(max-width: 1000px){
.circle-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);  
}
}

@media(max-width: 1205px){
    .selections{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #setup{
        display: none;
    }
}

@media(max-width: 912px){
#canvas {
    width: 100vh; 
    height: 100vw; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg); /* Rotate 90 degrees */
    transform-origin: center center;
}
.circle-container{
    transform: rotate(90deg) translateY(50%);
    left: 50%;
}

.shoot-container {
    transform: rotate(-90deg); /* Rotate in the opposite direction */
  }
  #shoot{
    left: 100px;
  }
}

@media(max-width:610px){
    #select-location{
        max-width: 300px;
    }
    #select-ship{
        max-width: 250px;
    }
    .locationOneImg,.locationTwoImg,.locationThreeImg{
        width: 150px;
        height: 120px;
    }
    .spaceshipOneImg,.spaceshipTwoImg,.spaceshipThreeImg{
        max-width: 70px;
        height: 100px;
    }
    #start-button-two{
    bottom: 0;
    }
      .back{
        margin-top: 15px;
      }
      .selections{
        top: 10%;
    }
  }

  @media(max-width:600px){
    #score{
        max-width: 100px;
    }
    #score-value{
        font-size: 30px;
    }
  }


@media(max-width:520px){
    .utility-buttons{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        gap: 0;
    }
    #next-button{
        margin-left: 0px;
    }
    .selections{
        top: 15%;
    }
  }

  @media(max-width:506px){
    .audio,#instructions  {
      display: none;
  }
  #volume-icon{
    font-size: 50px;
    margin-left: 10px;
  }
  #instruction-icon{
    font-size: 50px;
  }
  }

@media(max-width:500px){
    #title,#setup,#GameOver,#instruction-title{
        max-width: 350px;
    }
    #start-button,#start-button-two,#restart{
        max-width: 250px;
    }
    .audio-controls{
        left: 20px
    }
    .homepage{
        right: 20px;
    }
}


@media(max-width:450px){
    #volume-icon{
      font-size: 45px;
    }
    .locationImages{
        flex-wrap: wrap;
    }
    .selections{
        left: 40%;
    }
    .utility-buttons{
        top: 5px;
    }
    #start-button-two{
        max-width: 150px;
        background-color: transparent;
        padding: 5px;
        border: 2px solid;
        border-color: grey black black grey;
        cursor: pointer;
    }
    .homepage,#mute-button,#next-button,{
        max-height: 25px;
    }
    #homepageImg,#mute,#skip{
        max-height: 15px;
        margin-top: 2px;
    }
    }

@media(max-width:400px){
    #title,#setup,#GameOver,#instruction-title{
        max-width: 300px;
    }
    #start-button,#restart{
        max-width: 250px;
    }
    .score{
        bottom: 50%;
        transform: translate(0,50%);
    }
    .settings{
        left: 20px;
        right: auto;
    }
    .selections{
        left: 45%;
    }
}

@media(max-width:365px){
    .utility-buttons{
        display: flex;
        flex-direction: column;
    }
    .settings{
        max-width: 160px;
    }
  }

@media(max-width:330px){
    #volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
  .instruction{
    top: 10px;
  }
  #instruction-icon{
    font-size: 40px;
  }

  #title,#setup,#GameOver,#instruction-title{
    max-width: 250px;
}
#start-button,#restart{
    max-width: 200px;
}
.selections{
    left: 50%;
}
}

@media(max-width:300px){
    .audio-controls,.homepage{
        left: 5px;
    }
      .score{
        left: 5px;
    }
    #locations{
        max-width: 250px;
    }
    .locationOneImg,.locationTwoImg,.locationThreeImg{
        width: 130px;
        height: 100px;
    }
    #select-location{
        width: 270px;
    }
}

@media(max-width:280px){
    #title,#setup,#GameOver,#instruction-title{
        max-width: 230px;
    }
    #start-button,#restart{
        max-width: 200px;
    }
}